# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# env file
.env

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea
.vscode

*secret*
kustomization.y*ml
traefik_gateway_api/
checksums.txt*
